<p>Hello <%= @resource.login %>!</p>

<p>
  Someone has requested to reset your password for the Tracker mobile app.
  If you didn't make that request, please ignore this email, and no change will be made to your password.
</p>

<p>
  From your mobile phone with the app installed, you can click the following link to change your password:
</p>

<p>
  <%= link_to "Change my password", edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %>
</p>

<p>
  Happy Tracking!
</p>
